<head>
	<title>Kodukas!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Suur pealkiri</h1>
	<h1>Keskmine pealkiri</h1>
	<p>Paragraaf. Tavaline tekst.</p>
	<ul> <!-- unordered list -->
		<li>Esimene </li>
		<li class="kastiga">Teine</li>
		<li>Kolmas</li>
	</ul>
	<form><!--form saadab serverisse -->
		<input id="nimi" placeholder="Mis on sinu nimi?"/>
		<input type="checkbox"> <!--pole dashi vaja panna, saab aru ikka -->
		<input type="range">
		<input type="submit">
		<input type="date"/>
	</form>
	<img width="100" src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
	<script src="script.js"></script>
<br/>
</body>