body {background-color: rgb(0,128,128); /*võib ka lihtsalt värvi nime kirjutada kirjutada */
	font-family: Arial;
	font-size: 16px;
	color: black;
}
form {
	border: 5px solid black;
	border-radius: 15px;
	box-shadow: 4px 7px 45px 5px rgba(0,0,0,0.3);

}

form input {
	display: block;
}

.kastiga {
	border: 2px solid green;
}