<head>
	<title>Karmeni chat</title>
</head>
<body>
	<div id="jutt"></div>
	<form>
        <input id="picture" value="url" placeholder="https://exemple.com" pattern="https://.*" size="30"/>
		<input id="username" value="Karmen" placeholder="kasutaja"/>
		<input id="message" value="Minu esimene sonum :)" placeholder="sonum" />
		<input type="submit">
	</form>
	<script src="script.js"></script>
</body>
